{% extends 'BackedBundle::base.html.twig' %}

{% block title %} Register New Vehicle {% endblock %}
 
{% block body %}
    <form action="{{ path('registerVehicleResult') }}" method="POST" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>
{% endblock %}

