{% extends 'BackedBundle::base.html.twig' %}

{% block title %} Register New Vehicle {% endblock %}
 
{% block body %}
    Error al registrar el vehiculo
    
    <a href="{{ path('registerVehicleForm') }}">Voler al registro de vehiculo</a>
{% endblock %}