{% extends 'BackedBundle::base.html.twig' %}

{% block title %} Register New Vehicle {% endblock %}
 
{% block body %}
    Vehiculo registrado correctamente.
    
    <a href="{{ path('registerVehicleForm') }}">Registar Nuevo Vehiculo</a>
    
    
{% endblock %}


